@import 'variables';
// Header
.food-icon-trash {
    position: fixed;
    right: 55px;
    bottom: 32px;
    display: flex;
    align-items: center;
    // margin-right: 32px;
    font-size: 3.6rem;
    color: $primary;
    border-radius: $br5;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
        color: $dark-primary;
    }
}

.product-img {
    width: 45px;
    height: 45px;
    position: relative;
    top: -5px;
    left: -5px;
    object-fit: cover;
}

.list-food {
    width: 100%;
    padding: 20px 7px;
    height: 450px;
    height: 408px;
    border-radius: 10px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
}

.item-total {
    padding-left: 36px;
}

.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-delete {
    font-size: 2.6rem;
    &:last-child {
        margin-left: 18px;
        margin-top: -3px;
        font-size: 2.4rem;
    }
    &:hover {
        color: rgb(197, 15, 15);
        transform: scale(1.1);
    }
}

.btn-action-food:last-child {
    margin-left: 6px;
}

.filter-category {
    margin-left: 12px;
}

// Pagination
#paging {
    text-align: center;
    font-size: 2rem;
}

.paginationjs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationjs-pages ul {
    display: flex;
    align-items: center;
    justify-content: center;
}