@import 'variables';
// Header
.food-icon-trash {
    position: fixed;
    right: 55px;
    bottom: 32px;
    display: flex;
    align-items: center;
    // margin-right: 32px;
    font-size: 3.6rem;
    color: $primary;
    border-radius: $br5;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
        color: $dark-primary;
    }
}

.product-img {
    width: 45px;
    height: 45px;
    position: relative;
    top: -5px;
    left: -5px;
    object-fit: cover;
}

.list-food {
    width: 100%;
    padding: 20px 7px;
    height: 405px;
    border-radius: 10px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
}

.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-delete {
    font-size: 2.6rem;
    &:last-child {
        margin-left: 18px;
        margin-top: -3px;
        font-size: 2.4rem;
    }
    &:hover {
        color: rgb(197, 15, 15);
        transform: scale(1.1);
    }
}

.btn-action-food:last-child {
    margin-left: 6px;
}

.filter-category {
    margin-left: 12px;
}

// Pagination
#paging {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 52px;
}

.paginationjs {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.paginationjs-pages {
    background-color: $primary;
    min-width: 300px;
    height: 46px;
    border-radius: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationjs-pages ul {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(34, 34, 34);
}

.paginationjs-pages a {
    padding: 10px;
    color: white;
}

.paginationjs-page {
    cursor: pointer;
}

.paginationjs-page.active {
    color: $primary;
    background-color: white;
    border-radius: 50px;
}

.paginationjs-prev.disabled a,
.paginationjs-next.disabled a {
    cursor: not-allowed;
}

.paginationjs-go-input input {
    height: 45px;
    width: 80px;
    border-radius: 10px;
    margin-left: 24px;
    outline: none;
    padding-left: 12px;
    border: 1px solid $border;
}

.paginationjs-go-button input {
    height: 45px;
    width: 60px;
    border-radius: 10px;
    margin-left: 12px;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(210, 73, 14);
}