.food-trash {
  float: right;
  cursor: pointer;
  margin-right: 32px;
  margin-top: 54px; }

.icon-trash {
  color: #1c6758;
  font-size: 4rem;
  position: relative; }
  .icon-trash:hover {
    color: #0e483d; }

.icon-trash__number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 48px;
  right: 50px;
  font-size: 1.8rem;
  border-radius: 30px;
  width: 30px;
  height: 25px;
  color: #1c6758;
  background-color: white;
  border: 2px solid #1c6758; }

.product-img {
  width: 45px;
  height: 45px;
  position: relative;
  left: -5px;
  object-fit: cover; }

.list-food {
  width: 100%;
  padding: 20px 7px;
  height: 407px;
  border-radius: 10px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08); }

.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.btn-delete {
  font-size: 2.6rem;
  margin-right: 18px;
  margin-top: -3px;
  font-size: 2.6rem; }
  .btn-delete:hover {
    color: #c50f0f;
    transform: scale(1.1); }

.btn-edit {
  font-size: 2.4rem; }

.btn-action-food:last-child {
  margin-left: 6px; }

.filter-category {
  margin-left: 12px; }

#paging {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 52px; }

.paginationjs {
  font-size: 2rem;
  display: flex;
  align-items: center; }

.paginationjs-pages {
  background-color: #1c6758;
  min-width: 260px;
  height: 46px;
  border-radius: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.paginationjs-pages ul {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  color: #222222; }

.paginationjs-pages a {
  padding: 10px;
  color: white; }

.paginationjs-page {
  cursor: pointer; }

.paginationjs-page.active {
  color: #1c6758;
  background-color: white;
  border-radius: 50px; }

.paginationjs-prev.disabled a,
.paginationjs-next.disabled a {
  cursor: not-allowed; }

.paginationjs-go-input input {
  height: 45px;
  width: 80px;
  border-radius: 10px;
  margin-left: 24px;
  outline: none;
  padding-left: 12px;
  border: 1px solid #bcbcbc; }

.paginationjs-go-button input {
  height: 45px;
  width: 60px;
  border-radius: 10px;
  margin-left: 12px;
  outline: none;
  border: none;
  color: white;
  background-color: #d2490e; }

.notify {
  text-align: center;
  font-size: 2rem;
  margin-top: 22px; }

.list-food__trash {
  height: 560px;
  overflow: scroll;
  overflow-x: hidden; }

.modal-title {
  font-size: 1.8rem; }

.modal-body {
  font-size: 1.6rem; }
