.order-overview {
  padding: 10px 0 0 0;
  margin-bottom: 16px;
  font-size: 1.6rem;
  border-radius: 10px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08); }

.overview-header {
  padding: 0 12px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #bcbcbc; }

.overview-header-title {
  font-size: 1.7rem;
  font-weight: 700;
  pointer-events: none; }

.btn-hide-detail {
  font-size: 1.7rem;
  border: none;
  cursor: pointer;
  padding: 6px 12px 5px;
  color: #1c6758;
  background-color: white; }
  .btn-hide-detail:hover {
    color: #0e483d; }

.overview-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.overview-item {
  padding: 10px 12px 8px;
  border-right: 1px solid #bcbcbc;
  text-align: center;
  width: calc(100% / 5); }
  .overview-item:last-child {
    border: none; }

.overview-title {
  color: #848484; }

.overview-des {
  color: #1c6758;
  font-weight: 700; }

.form-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px; }

.form-selected {
  display: flex;
  align-items: center;
  font-size: 1.6rem; }

.notify-checked {
  margin-right: 12px;
  pointer-events: none;
  font-size: 1.6rem; }
  .notify-checked span {
    color: #1c6758;
    font-size: 1.8rem;
    font-weight: 700; }

.form-select-option {
  padding: 7px 6px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border-color: #bcbcbc; }

.form-btn {
  display: flex; }

.btn-icon-add {
  font-size: 2.2rem;
  margin: -2px 6px 0 -10px; }

.btn-add-order:hover {
  color: white;
  background-color: #0e483d; }

.btn-show-detail,
.btn-add-order {
  color: white;
  background-color: #1c6758; }

.btn-show-detail {
  margin-right: 21px;
  color: #1c6758;
  background-color: white; }
  .btn-show-detail:hover {
    color: #0e483d; }

.btn-action-check {
  margin-left: 12px;
  color: white;
  background-color: #a90707; }

.btn-status {
  font-size: 1.6rem;
  font-weight: 600;
  width: 120px;
  height: 31px;
  border-radius: 5px;
  pointer-events: none; }

.btn-status--green {
  color: #045406;
  border: 1px solid #045406;
  background-color: #72ff0730; }

.btn-status--red {
  color: #a40a0a;
  border: 1px solid #a40a0a;
  background-color: #e21e1e1a; }

.btn-status--blue {
  color: #0a5b35;
  border: 1px solid #0a5b35;
  background-color: #0df08e1a; }
