<div class='container-left'>
    {{> sidebar }}
</div>
<div class='container-right'>
    <div class='main'>
        <div class='topbar'>
            <div class='mode'>
                <span class='nav-title'>
                    <span class='mode-icon mode-icon-light'><ion-icon name='sunny'></ion-icon></span>
                    <span class='mode-icon mode-icon-dark hidden'><ion-icon name='moon'></ion-icon></span>
                    <input type='checkbox' id='switch' class='switch-input' onclick='handleChangeMode()' />
                    <label for='switch' class='switch'></label>
                </span>
            </div>
            <div class="oclock">
                <div class="clock">
                <div class="display">
            </div>
        </div>
    </div>
</div>

