<div class='container-wrap__login register-mode'>
    <div class='form-container__login'>
        <div class='content-left'>
            <form action='#' class='form-action-login'>
                <h2 class='title'>Đăng Ký</h2>
                <div class='form-more'>
                    <p class="text" style="margin: -26px auto 32px;">(Cần xác thực admin trước khi đăng ký)
                </div> 
                <div class='input-field'>
                    <input type='text' placeholder='Tên đăng nhập' id="username-register" />
                    <ion-icon name='person'></ion-icon>
                </div>
                <div class='input-field'>
                    <ion-icon name='lock-closed'></ion-icon>
                    <input class='input-password' type='password' placeholder='Mật khẩu' id="pass-register" />
                </div>
                <div class='input-field'>
                    <ion-icon name='lock-closed'></ion-icon>
                    <input class='input-password' type='password' placeholder='Nhập lại mật khẩu' id="repeat-pass-register" />
                </div>
                
                {{!-- <button type='submit' class='btn btn-login btn-register'>Đăng Ký</button> --}}
                <a href="#my-modal--confirm" class='btn btn-login btn-register'>Đăng Ký</a>
            </form>
        </div>
        <div class='content-right'>
            <div class='panel-content'>
                <h1>Welcome to Register</h1>
                <span class='loader'></span>
                <div class='btn-pass'><a href='/user/login'></a></div>
                <img style='width: 100%;' src='https://mycolor.space/img/color-scheme-right.svg' alt='' />
            </div>
        </div>
    </div>
</div>

<!-- Modal Layout -->
<div class='modal' id='my-modal--confirm'>
    <div class='modal__overlay'></div>
    <a href='#' class='overlay-close'></a>

    <div class='modal__body'>
        <!-- Register Form -->
        <div class='auth-form form-login'>
            <div class='form-content'>
                <form action='#' class='form-confirm'>
                    <div class='input-field'>
                        <input type='text' placeholder='Tên đăng nhập' />
                        <ion-icon name='person'></ion-icon>
                    </div>
                    <div class='input-field'>
                        <ion-icon name='lock-closed'></ion-icon>
                        <input class='input-password' type='password' placeholder='Mật khẩu' />
                    </div>

                    <button type='submit' class='btn  btn-login btn-confirm-admin'>
                        Xác thực Admin
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

